<script setup>
import { ref } from 'vue';

// data
const count = ref(0);

// functions
function increment() {
  count.value = count.value + 1;
}
</script>

<template>
  <div class="component">
    <h2>MyButton</h2>
    <p>count: {{ count }}</p>
    <button @click="increment">Add 1</button>
  </div>
</template>

<style scoped>
button {
  width: 80%;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
</style>
