<script setup>
import { ref } from 'vue';

// data
const text = ref('Start');
</script>

<template>
  <div class="component">
    <h2>MyInput</h2>
    <input type="text" v-model="text">
    <p>text: {{ text }}</p>
  </div>
</template>

<style scoped>

</style>
