<script setup>
import TableKontakte from './components/TableKontakte.vue'
</script>

<template>
  <div class="app">
    <header>
      <h1>T3A Kontakte</h1>
    </header>

    <main>
      <TableKontakte/>
    </main>
  </div>
</template>

<style scoped>
.app {
  background-color: darkcyan;
  box-shadow: 2px 2px 2px black;
  padding-bottom: 1em;
}

h1 {
  padding: 0.5em;
  text-shadow: 2px 2px 2px white;
}
</style>
